<!DOCTYPE html>
<html>
    <head>
        <title>All Users: <%= users.length%></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include public/templates/nav.ejs  %>
        <h1>There are <%= users.length%> Total Users</h1>
        <ul>
            <% users.forEach(function(user){ %>
                <li> User #: <a href="/user/<%=user.ID%>"><b><%= user.ID %></b></a>
                    <ul>
                        <li> First Name: <%= user.firstName %></li>
                        <li> Last Name: <%= user.lastName %></li>
                        <li> Age: <%= user.age %></li>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </body>
</html>
